<p>contact works!</p>
<div class="container" style="background-color: rgb(218, 218, 218); height:708px ;width: 100%;">


    <h1 style="margin-top: 4%;margin-left: 38%; position:absolute">CONTACT US</h1>
    <div class ="boxx">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">NAME</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">PHONE</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
         
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        
    </div>
  
</div>