<p>home works!</p>
<div class="container" style="background-color: rgb(218, 218, 218); height:708px ;width: 100%;">
    <div class="left">
        <img src="/assets/Images/6t2.jpg">

    </div>
    <div class="middle">
        <img src="/assets/Images/abc.jpg" width="300px">

    </div>
    <div class="right">
        <img src="/assets/Images/6t2.jpg">

    </div>

    <div class ="bottom">
        <h1>Lorem ipsum</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
         isi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
         esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in 
         
    </div>
  
</div>